@page
@model ChatBot.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="~/css/crud2.css" />
 </head>
<h1>Create Rule</h1>
 <body>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rule.Title" class="control-label"></label>
                <input asp-for="Rule.Title" class="form-control" />
                <span asp-validation-for="Rule.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rule.Category" class="control-label"></label>
                <input asp-for="Rule.Category" class="form-control" />
                <span asp-validation-for="Rule.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rule.Content" class="control-label"></label>
                <input asp-for="Rule.Content" class="form-control" />
                <span asp-validation-for="Rule.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rule.PublicationDate" class="control-label"></label>
                <input asp-for="Rule.PublicationDate" class="form-control" />
                <span asp-validation-for="Rule.PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rule.Source" class="control-label"></label>
                <input asp-for="Rule.Source" class="form-control" />
                <span asp-validation-for="Rule.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button" asp-page="./Crud">Back to List</a>
</div>
</body>
